Lesson 1
[{"id":"ff5462d4.2613","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8460dc60.535b3","type":"inject","z":"ff5462d4.2613","name":"Старт","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["85117347.6cbb1"]]},{"id":"89b2426a.162bb","type":"debug","z":"ff5462d4.2613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":40,"wires":[]},{"id":"85117347.6cbb1","type":"http request","z":"ff5462d4.2613","name":"Запрос безналичного курса ПриватБанка","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":40,"wires":[["30717109.9a2d5e"]]},{"id":"30717109.9a2d5e","type":"function","z":"ff5462d4.2613","name":"Записываем курс доллара и время запроса","func":"msg.HW1 = null\nfor (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].ccy == \"USD\") {\n        msg.HW1 = \"buy: \" + msg.payload[i].buy + \", sale: \" + msg.payload[i].sale\n            }\n    }\n\nmsg.DateHW1 = msg.headers.date\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":40,"wires":[["89b2426a.162bb"]]}]
