Lesson2
[{"id":"92cb6296.c3b4c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"edf485d4.828148","type":"http in","z":"92cb6296.c3b4c","name":"Запрос POST","url":"/lesson2POST","method":"post","upload":false,"swaggerDoc":"","x":70,"y":60,"wires":[["306f9175.a71cce"]],"info":"Входящие параметры:\n- sid;\n- phone."},{"id":"ef7d2f86.f2377","type":"http in","z":"92cb6296.c3b4c","name":"Запрос GET","url":"/lesson2GET","method":"get","upload":false,"swaggerDoc":"","x":70,"y":100,"wires":[["306f9175.a71cce"]],"info":"Входящие параметры:\n- sid;\n- phone.\n\nhttp://127.0.0.1:1880/lesson2GET?sid=12345678901234567890&phone=+380932048648"},{"id":"306f9175.a71cce","type":"function","z":"92cb6296.c3b4c","name":"Получаем данные из запроса","func":"msg.sid = null;\nmsg.phone = null;\n\ntry{\n    msg.sid = msg.payload.sid;\n    msg.phone = msg.payload.phone;\n}catch(ex){\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["6cb5c767.d948d8"]]},{"id":"5a98b09c.4d14c","type":"http request","z":"92cb6296.c3b4c","name":"Запрос на проверку сессии","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{sid}}?activeOnly=true","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":240,"wires":[["8f87e760.55e5d8"]]},{"id":"8f87e760.55e5d8","type":"xml","z":"92cb6296.c3b4c","name":"Парсинг ответа","property":"payload","attr":"","chr":"","x":720,"y":320,"wires":[["40a0ec24.dd7b14"]]},{"id":"40a0ec24.dd7b14","type":"switch","z":"92cb6296.c3b4c","name":"Распределение","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":480,"wires":[["563e3659.2761b8"],["86b61207.3ad0f"]]},{"id":"99bfe57d.340ed8","type":"http response","z":"92cb6296.c3b4c","name":"","statusCode":"200","headers":{},"x":1280,"y":220,"wires":[]},{"id":"86b61207.3ad0f","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.payload = \"Сессия не существует или уже закрыта\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":160,"wires":[["99bfe57d.340ed8"]]},{"id":"31388014.23f0e","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.payload = \"Отсутствует обязательный входящий параметр PHONE, введите параметр PHONE в формате 380XXXXXXXXXX\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":340,"wires":[["99bfe57d.340ed8"]]},{"id":"62c97038.904e3","type":"switch","z":"92cb6296.c3b4c","name":"Распледеление","property":"phone","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":460,"wires":[["31388014.23f0e"],["7ccabbf3.823e64"]]},{"id":"7ccabbf3.823e64","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.long = msg.phone.length;\nif (msg.long >= \"13\") {\n    msg.text = \"Превышено количество символов в параметре PHONE, введите параметр PHONE в формате 380XXXXXXXXXX\"\n}\nif (msg.long <= \"11\") {\n    msg.text = \"Недостаточно символов в параметре PHONE, введите параметр PHONE в формате 380XXXXXXXXXX\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":720,"wires":[["abf36d11.a812f"]]},{"id":"34f35377.c62c4c","type":"switch","z":"92cb6296.c3b4c","name":"","property":"sid","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":120,"wires":[["5a98b09c.4d14c"],["f20ac0c6.6e6d1"]]},{"id":"f20ac0c6.6e6d1","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.payload = \"Отсутствует обязательный входящий параметр SID\"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":60,"wires":[["99bfe57d.340ed8"]]},{"id":"6cb5c767.d948d8","type":"switch","z":"92cb6296.c3b4c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":100,"wires":[["98798512.329a78"],["34f35377.c62c4c"]]},{"id":"98798512.329a78","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.payload = \"Отсутствуют обязательные входящие параметры SID и PHONE\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":20,"wires":[["99bfe57d.340ed8"]]},{"id":"abf36d11.a812f","type":"switch","z":"92cb6296.c3b4c","name":"","property":"long","propertyType":"msg","rules":[{"t":"eq","v":"12","vt":"str"},{"t":"neq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":700,"wires":[["47e5b131.2359b"],["6cc42f0d.f3ec8"]]},{"id":"6cc42f0d.f3ec8","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.payload = msg.text\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":580,"wires":[["99bfe57d.340ed8"]]},{"id":"47e5b131.2359b","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.maska = msg.phone.substring(0, 3)\nif (msg.maska != \"380\") {\n    msg.text = \"Введите параметр PHONE в формате 380XXXXXXXXXX\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":780,"wires":[["f081bc94.86e8"]]},{"id":"f081bc94.86e8","type":"switch","z":"92cb6296.c3b4c","name":"","property":"maska","propertyType":"msg","rules":[{"t":"neq","v":"380","vt":"str"},{"t":"eq","v":"380","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":720,"wires":[["e386f71a.5daa28"],["9f88ae09.570a3"]]},{"id":"e386f71a.5daa28","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.payload = msg.text\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":660,"wires":[["99bfe57d.340ed8"]]},{"id":"9f88ae09.570a3","type":"function","z":"92cb6296.c3b4c","name":"","func":"msg.operator = msg.phone.substring(2, 5);\nif (msg.operator = \"066\" || \"099\" || \"050\" || \"095\") {\n    msg.operator = \"Операторов мобильной связи Vodafone\"\n}\nif (msg.operator = \"067\" || \"068\" || \"096\" || \"097\" || \"098\") {\n    msg.operator = \"Операторов мобильной связи Киевстар\"\n}\nif (msg.operator = \"063\" || \"093\" || \"073\") {\n    msg.operator = \"Операторов мобильной связи Lifecell\"\n} else {\n    msg.operator = \"Операторов мобильной связи не определен\"\n}\nmsg.payload = msg.operator\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":760,"wires":[["99bfe57d.340ed8"]]},{"id":"563e3659.2761b8","type":"function","z":"92cb6296.c3b4c","name":"","func":"if (msg.payload.session.user[0].$.login != \"DN220592RAI1\") {\n    msg.payload = \"Для получения доступа к сервису напишите на почту Artem.Romanov@privatbank.ua\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["d0e36f22.aac6c","86182725.b80f78"]]},{"id":"d0e36f22.aac6c","type":"debug","z":"92cb6296.c3b4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":640,"wires":[]},{"id":"86182725.b80f78","type":"switch","z":"92cb6296.c3b4c","name":"","property":"payload.session.user[0].$.login","propertyType":"msg","rules":[{"t":"eq","v":"DN220592RAI1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":560,"wires":[["62c97038.904e3"],["99bfe57d.340ed8"]]}]
